# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
