@import '../../../../assets/stylesheets/variables';

#product-item {
  &:not(:last-child) {
    border-bottom: 1px solid $light-gray;
  }

  .price {
    font-size: 24px;
    font-weight: 400;
  }

  .title {
    font-size: 18px;
    font-weight: normal;
    color: $dark;
  }

  .location {
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
  }

  .condition {
    font-size: 14px;
    color: $dark-gray;
  }
}
